*{
    margin: 0;
}
body{
    height: 100vh;
}
.p-img{
    /* background image styling */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* flex setup */
    display: flex;
    justify-content: center;
    align-items: center;
}
#p1{
    height: 100vh;
    background-image: url("../images/giraffe\ first\ bg.jpeg");
}
#p2{
    height: 1000px;
    background-image: url("../images/giraffe\ 2.jpeg");
}
#p3{
    height: 800px;
    background-image: url("../images/giraffe\ 3.jpeg");
}
#p4{
    height: 900px;
    background-image: url("../images/giraffe\ 5.jpeg");
}
#p5{
    height: 100vh;
    background-image: url("../images/giraffe\ 4.jpeg");
}
.p-text-container{
    background-color: #ffbf00;
    padding: 20px;
    text-align: center;
    height: 110px;
}
#p-text-container-two{
    height: 130px;
}
.p-title{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}
.section{
    background-color: #fce49f;
    text-align: center;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
.section-title{
    color:#ffbf00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 20px;
    text-shadow: 2px 2px black;
}
.section-text{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    text-align: justify;
    padding-bottom: 40px;
}
.link{
    color: red;
    text-align: center;
    font-size: 25px;
}